.navbar .navbar-brand {
	padding-top: 5px; 
}
#landing-title{
	color: #fff;
}
#landing-content{
	color: #fff;
}
/**
 * GRADIENT
 */
#landing-gradient{
background: linear-gradient(90deg, #413a92, #8dd8f8);
background-size: 400% 400%;

-webkit-animation: Gradient 30s ease infinite;
-moz-animation: Gradient 30s ease infinite;
-o-animation: Gradient 30s ease infinite;
animation: Gradient 30s ease infinite;

}
@-webkit-keyframes Gradient {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-moz-keyframes Gradient {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-o-keyframes Gradient {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@keyframes Gradient { 
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
#about-gradient{
background: linear-gradient(90deg, #413a92, #2d2e2e);
background-size: 400% 400%;

-webkit-animation: Gradient 30s ease infinite;
-moz-animation: Gradient 30s ease infinite;
-o-animation: Gradient 30s ease infinite;
animation: Gradient 30s ease infinite;

}
@-webkit-keyframes Gradient {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-moz-keyframes Gradient {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-o-keyframes Gradient {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@keyframes Gradient { 
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
/**
 * 
 */
.page-header .container {
	padding-top: 30vh;
}
#card-xs-img img{
 width: 60%;
}
#about-mifare img{
  height: 137px;
}
.partner-logo{
   -webkit-filter: grayscale(100%);  
}
.partner-logo:hover{
   -webkit-filter: grayscale(0%);  
}
.partners-block{
	margin-top: 2em;
	margin-bottom: 2em;
}
#map{
	height: 500px;
	width: 100%;
}
.simple-page-bg{
	height: 50vh !important;
}
.article-page-bg{
	height: 37vh !important;
}
.card-page-bg{
	height: 37vh !important;
}
.contactus-2{
	height: 500px;
}


.login-page-header {
    padding-top: 12vh !important;
}

@media (max-width: 991px){
.page-header {
    height: auto;
    min-height: 54vh;
}
.presentation-page .page-header, .index-page .page-header {
    height: 105vh;
    overflow: hidden;   
}
.footer-map {
    background-color: #FFFFFF;
    margin-top: 340px;
}
}
/* header-filter orange */
.presentation-page .header-filter:after, .index-page .header-filter:after {
    background: rgba(132, 13, 121, 0.88);
    background: linear-gradient(45deg, rgba(31, 201, 228, 0.88) 0%, rgba(208, 44, 180, 0.31) 100%);
    background: -moz-linear-gradient(135deg, rgba(31, 201, 228, 0.88) 0%, rgba(208, 44, 180, 0.31) 100%);
    background: -webkit-linear-gradient(135deg, rgba(31, 201, 228, 0.88) 0%, rgba(208, 44, 180, 0.31) 100%);
}

.white-control{
    color: white;
}
.profile-card-title{
    margin: 40px 0 10px;
}
.register-alert{
    padding-top: 0px !important;
}
.reg-thumbnail{
    height: 50px !important;
    width: 80px !important;
    margin-top: 2px;
}
.reg-thumbnail:hover{
    cursor:pointer;
}
.card-thumbnail{
}
.mobile-padding{
    padding:  5px;
}
.card .header-danger, .card .content-danger {
    background: linear-gradient(60deg, #403a91, #9650c1);
}
.btn-profile{
    background-color: #403a91;
}
.btn-profile:hover{
    background-color: #9650c1;
}
.link-profile:hover{
    background-color: #d6c3e2 !important;
    color:#fff !important;
}
.link-menu:hover{
    background-color: #403a91 !important;
}
#profile-trips-table{
    font-size: 12px;
}